{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Django学习{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <script type="text/javascript" src="{% static 'js/jquery-1.11.1.js' %}"></script>
    {% block links %}{% endblock %}
    {% block js %}{% endblock %}

    <style type="text/css">
        body {
            padding-top: 70px;
        }
        div.nav-slider {
            position: fixed;
            top: 50px;
            bottom: 0px;
            overflow-y: auto;
            background-color: #eee;
            padding-top:20px;
            padding-bottom: 20px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">我的Django项目</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/ams/userlogout">退出登录</a></li>
            </ul>
            <p class="navbar-text navbar-right">欢迎 {{ user.username }}, </p>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 nav-slider">
            <ul class="nav nav-pills nav-stacked">
                {% block li %}
                {% endblock %}
            </ul>
        </div>
        <div class="col-md-10 col-md-offset-2">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        {% block script %}
        {% endblock %}

    });
</script>
</body>
</html>