{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <style type="text/css">
        #top{
            margin-top: 100px;
            margin-bottom: 100px;
        }
    </style>
<body>
<div class="row">
    <div class="col-md-3 col-md-offset-4" id="top">
    {{ form.non_field_errors }}
    <form action="/ams/userlogin/" method="POST" novalidate="novalidate" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.username.id_for_label }}" class="sr-only col-md-2 control-label">{{ form.username.label }}</label>
            <div class="col-md-12">
                <input type="text" class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" placeholder="{{ form.username.label }}" value="{{ form.username.value|default_if_none:"" }}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="{{ form.password.id_for_label }}" class="sr-only col-md-2 control-label">{{ form.password.label }}</label>
            <div class="col-md-12">
                <input type="password" class="form-control" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name}}" placeholder="{{ form.password.label }}" value="{{ form.password.value|default_if_none:"" }}" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-block">登录</button>
            </div>
        </div>
    </form>
    </div>
</div>
</body>
</html>